# ── AWS ───────────────────────────────────────────
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

S3_BUCKET=

# IoT Core endpoint — from: terraform output iot_endpoint
AWS_IOT_ENDPOINT=

# ── MySQL (Railway te da estos valores automáticamente) ────────
MYSQLHOST=
MYSQLPORT=
MYSQL_DATABASE=
MYSQLUSER=
MYSQLPASSWORD=

# ── Flask ──────────────────────────────────────────
PORT=
